.dropdown-item{
    cursor:pointer;
    
}
.container-bg{
    background-color: #e0ebe8e8;
    /* height: 1200%; */
    min-height: 600px;
    
    
}
.common-card{
    background-color:whitesmoke;
}
.homeSection-containerBg{
    /* background-color: #e0ebe8e8; */
    background-color:whitesmoke;
}